*{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container_pokemon {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 180px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px gray;

  margin: 50px;
}

.container_img {
  background-color: chartreuse;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: auto;
  height: 150px;
  padding: 10px;
}

.container_img  img {
  height: inherit;
  display: block;
  margin: auto;
}

.title_pokemon {
  /* background-color: aqua; */
  font-size: 25px;
  text-align: center;
  margin: 0;
}

.description_pokemon {
  /* background-color: brown; */
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}