:root {
  --main-type-fire: #f25c05;
  --main-type-normal: #e8c271;
  --main-type-water: #05898f;
  --main-type-grass: #94bf36;
  --main-type-electric: #f2e205;
  --main-type-ice: #5c8ef2;
  --main-type-fighting: #8c0404;
  --main-type-poison: #9a359e;
  --main-type-ground: #7e582e;
  --main-type-flying: #73d99f;
  --main-type-psychic: #191919;
  --main-type-bug: #f2e85e;
  --main-type-rock: #40312c;
  --main-type-ghost: #3b7d8c;
  --main-type-dark: #0a2473;
  --main-type-dragon: #bf3f34;
  --main-type-steel: #202833;
  --main-type-fairy: #bcbf56;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: white;
}

.header {
  text-align: center;
  margin-bottom: 10rem;
}

.header__title {
  font-size: 6rem;
}

.header__title a {
  text-decoration: none;
  color: black;
}

.searched {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.searched__input {
  padding: 1rem;
  width: 40vw;
  border: none;
  height: inherit;
  border-radius: 10px 0 0 10px;
  border: 1px solid orange;
  background-color: #fff;
  font-size: 1.6rem;
}

.searched__input:focus-visible {
  border: 3px solid orange;
  outline: none;
}

.searched__button {
  padding: 1rem;
  font-size: 1.6rem;
  border: none;
  height: inherit;
  border-radius: 0 10px 10px 0;
  background-color: orange;
  color: #fff;
  font-weight: bold;
}

.searched__button:focus-visible {
  outline: none;
}

#results {
  display: flex;
  margin: 3rem;
  justify-content: center;
}

.text__error {
  color: black;
  font-size: 3rem;
}

.container {
  margin: 3rem;
  margin-top: 10rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: auto;
}

.evolution {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem;
  flex-wrap: wrap;
}

.evolution > div {
  margin: 2rem 0;
}

.container_pokemon {
  border-radius: 0.5rem;
  padding: 1rem;
  justify-self: center;
}

.container_pokemon:hover {
  animation-name: card_pokemon;
  animation-duration: 0.25s;
  animation-delay: 0;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes card_pokemon {
  from {
    border-radius: 0.5rem;
  }
  to {
    border-radius: 2rem;
  }
}

.container_pokemon > a {
  text-decoration: none;
  color: #fff;
}

.container_img {
  background-color: white;
  border-radius: 1rem;
  margin: 1.5rem 0;
  height: 15rem;
  padding: 1rem;
}

.container_img img {
  height: inherit;
  display: block;
  margin: auto;
}

.title_pokemon {
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}

.description_pokemon {
  text-align: center;
  padding: 1rem;
}

.pokemon {
  margin: 2rem auto;
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  padding: 2rem;
  border-radius: 1rem;
  height: 55vh;
}

.pokemon__description_light {
  color: #eee;
}

.pokemon__description_dark {
  color: #666;
}

.pokemon {
  margin: 1rem auto;
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto auto;
  padding: 2rem 0;
  border-radius: 1rem;
  height: auto;
}

.pokemon__title {
  font-size: 4rem;
  margin: 0;
  text-align: center;
}

.pokemon__image {
  display: inline-block;
}

.pokemon__image > img {
  height: 40vh;
}

.pokemon__description {
  display: flex;
  font-size: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  flex-direction: row;
  padding: 1rem;
}

.pokemon__description > div > span {
  display: inline-block;
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.pokemon__description--type {
  background-color: #eeeeee5b;
  border-radius: 2rem;
  padding: 0.5rem;
  min-width: 49%;
  max-width: 60%;
}

.pokemon__description--stats {
  background-color: #eeeeee5b;
  border-radius: 2rem;
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
}

.stats__list > li {
  margin: 0.5rem 0;
}

.stats__list > li > span {
  font-weight: bold;
}

.type_pokemon {
  font-size: 1.6rem;
}

.type_fire {
  background-color: var(--main-type-fire);
}
.type_normal {
  background-color: var(--main-type-normal);
}
.type_water {
  background-color: var(--main-type-water);
}
.type_grass {
  background-color: var(--main-type-grass);
}
.type_electric {
  background-color: var(--main-type-electric);
}
.type_ice {
  background-color: var(--main-type-ice);
}
.type_fighting {
  background-color: var(--main-type-fighting);
}
.type_poison {
  background-color: var(--main-type-poison);
}
.type_ground {
  background-color: var(--main-type-ground);
}
.type_flying {
  background-color: var(--main-type-flying);
}
.type_psychic {
  background-color: var(--main-type-psychic);
}
.type_bug {
  background-color: var(--main-type-bug);
}
.type_rock {
  background-color: var(--main-type-rock);
}
.type_ghost {
  background-color: var(--main-type-ghost);
}
.type_dark {
  background-color: var(--main-type-dark);
}
.type_dragon {
  background-color: var(--main-type-dragon);
}
.type_steel {
  background-color: var(--main-type-steel);
}
.type_fairy {
  background-color: var(--main-type-fairy);
}

/* hover of pokemon image */

.container_pokemon:hover .img_fire {
  filter: drop-shadow(0 0 0.8rem var(--main-type-fire));
}
.container_pokemon:hover .img_normal {
  filter: drop-shadow(0 0 0.8rem var(--main-type-normal));
}
.container_pokemon:hover .img_water {
  filter: drop-shadow(0 0 0.8rem var(--main-type-water));
}
.container_pokemon:hover .img_grass {
  filter: drop-shadow(0 0 0.8rem var(--main-type-grass));
}
.container_pokemon:hover .img_electric {
  filter: drop-shadow(0 0 0.8rem var(--main-type-electric));
}
.container_pokemon:hover .img_ice {
  filter: drop-shadow(0 0 0.8rem var(--main-type-ice));
}
.container_pokemon:hover .img_fighting {
  filter: drop-shadow(0 0 0.8rem var(--main-type-fighting));
}
.container_pokemon:hover .img_poison {
  filter: drop-shadow(0 0 0.8rem var(--main-type-poison));
}
.container_pokemon:hover .img_ground {
  filter: drop-shadow(0 0 0.8rem var(--main-type-ground));
}
.container_pokemon:hover .img_flying {
  filter: drop-shadow(0 0 0.8rem var(--main-type-flying));
}
.container_pokemon:hover .img_psychic {
  filter: drop-shadow(0 0 0.8rem var(--main-type-psychic));
}
.container_pokemon:hover .img_bug {
  filter: drop-shadow(0 0 0.8rem var(--main-type-bug));
}
.container_pokemon:hover .img_rock {
  filter: drop-shadow(0 0 0.8rem var(--main-type-rock));
}
.container_pokemon:hover .img_ghost {
  filter: drop-shadow(0 0 0.8rem var(--main-type-ghost));
}
.container_pokemon:hover .img_dark {
  filter: drop-shadow(0 0 0.8rem var(--main-type-dark));
}
.container_pokemon:hover .img_dragon {
  filter: drop-shadow(0 0 0.8rem var(--main-type-dragon));
}
.container_pokemon:hover .img_steel {
  filter: drop-shadow(0 0 0.8rem var(--main-type-steel));
}
.container_pokemon:hover .img_fairy {
  filter: drop-shadow(0 0 0.8rem var(--main-type-fairy));
}

@media (min-width: 768px) {
  .pokemon {
    margin: 2rem auto;
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    padding: 2rem;
    border-radius: 1rem;
    height: 55vh;
  }

  .pokemon__title {
    grid-column: 1 / 2;
    grid-row: 1/2;
    font-size: 4rem;
    margin: 0;
    text-align: center;
  }

  .pokemon__image {
    grid-column: 1/2;
    grid-row: 2/3;
    display: inline-block;
  }

  .pokemon__description {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/3;
    font-size: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    flex-direction: row;
  }

  .pokemon__description--type {
    background-color: #eeeeee5b;
    border-radius: 2rem;
    padding: 2.5rem;
    min-width: 49%;
    max-width: 60%;
  }

  .pokemon__description--stats {
    background-color: #eeeeee5b;
    border-radius: 2rem;
    width: 100%;
    padding: 3rem;
  }
}
